services:
  reverse-proxy:
    build: ReverseProxy/.
    ports:
      - "80:80"
      - "443:443"
    networks:
      - reverse-proxy-tier
    volumes:
      - reverse-proxy-cache:/var/cache/nginx
    depends_on:
      - frontend
      - rag-backend

  rag-service:
    build:
      context: RagService/.
    environment:
      CHROMADB_PERSISTENT_CLIENT_PATH: "/app/chromadb/data"
      SHARED_STORAGE_FILE_PATH: "/app/shared/files"
      RABBITMQ_USER: guest
      RABBITMQ_PASSWORD: guest
      OLLAMA_URL: http://ollama:11434/
      RABBITMQ_HOST: rabbitmq
      PYTHONUNBUFFERED: 1
    networks:
      - rag-tier
      - rabbitmq-tier
    volumes:
      - shared_volume:/app/shared/files
      - chromadb_volume:/app/chromadb/data
    depends_on:
      - rabbitmq
      - rag-backend

  frontend:
    build: Frontend/.
    networks:
      - reverse-proxy-tier

  ollama:
    build: Ollama/.
    networks:
      - rag-tier
      - ollama-net
    volumes:
      - ollama_volume:/root/.ollama

  rabbitmq:
    build: Rabbitmq/.
    networks:
      - rabbitmq-tier
    volumes:
      - rabbitmq_volume:/var/lib/rabbitmq

  rag-backend:
    build: RagBackend/.
    networks:
      - reverse-proxy-tier
      - backend-tier
      - rabbitmq-tier
    volumes:
      - shared_volume:/app/shared/files
    depends_on:
      - rabbitmq

  pg_database:
    build:
      context: Database/.
      args:
        POSTGRES_DB: ragdb
        POSTGRES_USER: admin
        POSTGRES_PASSWORD: admin_password
    volumes:
      - pg_volume:/var/lib/postgresql/data
    networks:
      - backend-tier

volumes:
  chromadb_volume:
  shared_volume:
  ollama_volume:
  rabbitmq_volume:
  pg_volume:
  reverse-proxy-cache:

networks:
  reverse-proxy-tier:
  backend-tier:
    internal: true
  rag-tier:
    internal: true
  rabbitmq-tier:
    internal: true
  ollama-net:
