services:
  rag-service:
    build:
      context: RagService/.
    environment:
      CHROMADB_PERSISTENT_CLIENT_PATH: '/app/chromadb/data'
      SHARED_STORAGE_FILE_PATH: '/app/shared/files'
      RABBITMQ_USER: guest
      RABBITMQ_PASSWORD: guest
      OLLAMA_URL: http://ollama:11434/
      RABBITMQ_HOST: rabbitmq
      PYTHONUNBUFFERED: 1

    networks:
      - temp_network
    volumes:
      - shared_volume:/app/shared/files
      - chromadb_volume:/app/chromadb/data
    depends_on:
      - rabbitmq

  ollama:
    build: Ollama/.
    networks:
      - temp_network
    volumes:
      - ollama_volume:/root/.ollama

  rabbitmq:
    build: Rabbitmq/.
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - temp_network
    volumes:
      - rabbitmq_volume:/var/lib/rabbitmq

  rag-backend:
    build: RagBackend/.
    ports:
      - "8080:8080"
    networks:
      - temp_network
    volumes:
      - shared_volume:/app/shared/files
    depends_on:
      - rabbitmq
  pg_database:
    build:
      context: Database/.
      args:
        POSTGRES_DB: ragdb
        POSTGRES_USER: admin
        POSTGRES_PASSWORD: admin_password

    volumes:
      - pg_volume:/var/lib/postgresql/data
    networks:
      - temp_network
    

volumes:
  chromadb_volume:
  shared_volume:
  ollama_volume:
  rabbitmq_volume:
  pg_volume:



networks:
  temp_network:
